@media only screen and (max-width: 990px) {
     .intro__photo {
        height: 200px;
        width: 200px;
    }

    .main .content .projects {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 597px) {
    .intro__photo {
       display: none;
    }

    .intro__text{
        margin-bottom: 40px;
    }

    .contacts__link{
        font-size: 25px;
    }
}